MOVE TO USE NGRX


<style>
  @import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");
</style>
<div class="wrapper">
  <div class="title">
    <h1>To Do List</h1>
  </div>
  <div class="app-wrapper">
    <div class="app-content">
      <div *ngIf="todos.length < 1">
        All done? Enjoy your day! If not, add some tasks!
      </div>
      <div class="to-do-item" *ngFor="let todo of todos">
        <p [ngClass]="todo.completed ? 'completed-todo' : 'incomplete-todo'">
          {{ todo.title }}
          <button (click)="completeToDo(todo)">
            {{ todo.completed ? "Undo" : "Done!" }}</button
          ><button (click)="deleteToDo(todo.id)">Delete</button>
        </p>
      </div>
      <input
        type="string"
        placeholder="Enter task here and hit enter to add"
        [(ngModel)]="toDoTitle"
        (keyup.enter)="addToDo()"
        class="add-to-do-entry"
      />
      <p class="error-message">{{ errorMessage }}</p>
      <button (click)="clearAllCompleted()">Delete All Completed Tasks</button>
    </div>
  </div>
  <footer class="foot">
    App By Cameron Blackwood - built using Angular and Typescript
  </footer>
</div>

<!-- two way binding -->
