* {
  font-family: "Sarabun", sans-serif;
}
.wrapper {
  min-height: 100vh;
  background: linear-gradient(45deg, blue 0%, lightblue 100%);
}
.completed-todo {
  text-decoration: line-through;
}
.incomplete-todo {
  text-decoration: none;
}
.title {
  text-align: center;
}
.app-wrapper {
  text-align: center;
}
.app-content {
  border: solid black 1px;
  width: 50vw;
  display: inline-block;
  padding-bottom: 2vh;
  background-color: white;
}
.foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}
.add-to-do-entry {
  width: 20vw;
}
.error-message {
  color: red;
}
